$Color-Fondo: hsl(229, 57%, 11%);
$Color-Card: hsl(228, 56%, 26%);
$Color-Letra: hsl(229, 7%, 55%);
$Color-Letra2: hsl(243, 100%, 93%);
$Color-Barra: to;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    background-color: $Color-Fondo;
    background-image: url(../Imagenes/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    padding-top: 127px;

    main {
        width: 326px;
        margin: auto;
    }
}

section {
    background-color: $Color-Card;
    border-radius: 1rem;
    padding: 41px;
    width: 326px;
}

.first-card {
    border-top-right-radius: 9rem;
    margin-bottom: 16px;

    .first-card__encabezado {
        margin-bottom: 33px;
    }

    .first-card__imagenes {
        display: flex;

        figure {
            background-color: $Color-Fondo;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
            margin-right: 17px;
        }
    }
}

.second-card {
    padding: 35px 32px;

    .second-card__titulo {
        color: $Color-Letra;
        text-align: center;
        font-size: 15px;
        margin-bottom: 19px;

        span {
            color: $Color-Letra2;
            font-weight: 700;
        }
    }

    .second-card__barra-fondo {
        background-color: $Color-Fondo;
        width: 100%;
        height: 20px;
        border-radius: 1rem;
        width: 262px;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        position: relative; 
        .second-card__barra {
          background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
          width: 75%;
          height: 14px;
          border-radius: 1rem;
          margin-left: 0.2rem;
          position: relative; 
      
          .second-card__circulo {
            background-color: $Color-Letra2;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            position: absolute;
            right: 0; 
            top: 50%; 
            transform: translateY(-50%); 
            margin-right: 0.2rem;
          }
        }
      }
      
    .second-card__medidas {
        display: flex;
        justify-content: space-between;
        color: $Color-Letra2;
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 22px;
    }

    .second-card__cuadro-total {
        background-color: hsl(256, 100%, 100%);
        position: absolute;
        width: 179px;
        height: 72px;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(42px);

        h2 {
            font-size: 4rem;
            margin-right: 11px;
        }

        p {
            font-weight: 700;
            color: $Color-Letra;
            font-size: 14px;
            text-transform: uppercase;
            margin-top: 1rem;
        }
    }
}

footer {
    margin-top: 50px;
    color: white;

    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(229, 48%, 80%);
    }
}

@media(min-width: 1224px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        background-image: url(../Imagenes/bg-desktop.png);
        background-repeat: no-repeat;
        background-size: 100% 420px;
        background-position: bottom 0 left 0;
        height: 800px;
        main {
            display: flex;
            width: 920px;
            height: 201px;
        }
    }
    .first-card{
        margin-right: 30px;
        width: 350px;
        height: 100%;
    }
    .second-card{
        width: 540px;
        height: 154px;
        margin-top: auto;
        .second-card__titulo{
            text-align: start;
        }
        .second-card__barra-fondo{
            width: 100%;
        }
        .second-card__cuadro-total{
            width: 179px;
            height: 72px;
            transform: translate(297px, -192px);
            border-bottom-right-radius: 0rem;
            .second-card__triangulo{
                position: absolute;
                background-color: white;
                width: 21px;
                height: 21px;
                bottom: 0;
                right: 0;
                clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
                transform: translate(0.5px, 100%);

            }
        }
    }

}